<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="StreamingConfiguration" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">MJANSingleISprod309378Project_project.mjansingleisprod309378.streaming.connections:EmbeddedMessaging</value>
        <value name="description">This is the default embedded messaging account</value>
        <value name="package">MJANSingleISprod309378Project</value>
        <value name="type">Universal Messaging</value>
        <value name="clientId">EM29aa12da77e044db83c1481977382b90</value>
        <value name="enabled">false</value>
        <value name="other_properties"></value>
        <value name="dynamic_properties">jms.username=admin
jms.password=*****
um.server.url=nhp://stage00-prod309378-um-0.int-prod309378.svc.cluster.local:9000/</value>
        <value name="securityProtocol"></value>
        <value name="truststoreAlias"></value>
        <value name="keystoreAlias"></value>
        <value name="keystoreKeyAlias"></value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
